.homepage > div {
  text-align: center;
  background: blue;
  color: antiquewhite;

}

button {
  margin-top: 50px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  padding: 1rem 3rem;
  background-color: antiquewhite;
  color: blue;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background:  blue;
  color: antiquewhite;
  transition: 0.5s;
  border: 1px groove antiquewhite;
}
